/dogs-vs-cats/test1/
/dogs-vs-cats/train/
/dogs-vs-cats/dogs_vs_cats_labels.npy
/dogs-vs-cats/dogs_vs_cats_photos.npy
/dogs-vs-cats/sampleSubmission.csv
/dogs-vs-cats/test1.zip
/dogs-vs-cats/train.zip
